.bullet {
    background-color: #b142ec;
    margin: top;
    height: 50px;
    width: 60px;
    text-align: center;
    font-family: 'Arvo', serif; 
    font-size: 28px;
    transform: rotate(-20deg);
    border-radius: 60%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 1em Black;
  }